<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>OA-审批流程管理</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="/Content/hl/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/hl/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/hl/css/style-metro.css" rel="stylesheet" type="text/css" />
    <link href="/Content/hl/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/Content/hl/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/Content/hl/css/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/Content/hl/css/uniform.default.css" rel="stylesheet" type="text/css" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                </button>
                <h4 class="modal-title">
                    <i class="icon-pencil"></i><span id="lblAddTitle" style="font-weight: bold">编辑审批流程</span>
                </h4>
            </div>
            <form class="form-horizontal form-bordered form-row-strippe" action="" data-toggle="validator" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" style="width: 125px;">
                                所属流程：</label>
                            <div class="controls" style="margin-left: 0px;">
                                <input type="text" id="processname" class="m-wrap large" value="$processname$" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" style="width: 125px;">
                                审批人：</label>
                            <div class="controls" style="margin-left: 0px;">
                                <select class="m-wrap large" id="staffid"></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" style="width: 125px;">
                                排序：</label>
                            <div class="controls" style="margin-left: 0px;">
                                <input type="text" id="sort" readonly="readonly" class="m-wrap large" value="$sort$" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-info">
                    <input class="btn blue" type="button" id="btnsubmit" value="提交" onclick="update()" data-dismiss="modal" />
                    <button type="button" class="btn green" data-dismiss="modal">
                        取消</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $.post("/MemberNoView/querystaffsonlyidusername", function (data) {
            var html = "";
            $(data).each(function (a, b) {
                if (b.id == $staffid$)
                {
                    html = "<option value='" + b.id + "'>" + b.username + "</option>" + html;
                }
                else
                {
                    html += "<option value='" + b.id + "'>" + b.username + "</option>";
                }
            });
            $("#staffid").html(html);
        });
    })
    function update() {
        var staffid = $("#staffid").val();
        var sort = $("#sort").val();
        $.post("/ApprovalProcessNoView/editprocessperson", { id: $id$,processid:$processid$, staffid: staffid, sort: sort }, function (data) {
            if (data.status == true) {
                reload1();
            }
            else {
                alert(data.msg);
            }
        });
    }
</script>
<!-- END BODY -->
</html>