<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OA-项目管理</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
</head>
<body>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                </button>
                <h4 class="modal-title">
                    <i class="icon-pencil"></i><span id="lblAddTitle" style="font-weight: bold">编辑项目</span>
                </h4>
            </div>
            <form class="form-horizontal form-bordered form-row-strippe" action="" data-toggle="validator" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" style="width: 125px;">
                                项目角色：</label>
                            <div class="controls" style="margin-left: 0px;">
                                <input type="text" id="rolename" class="m-wrap large" value="$rolename$" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" style="width: 125px;">
                                用户名：</label>
                            <div class="controls" style="margin-left: 0px;">
                                <input type="text" id="username" class="m-wrap large" value="$username$" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-info">
                    <input class="btn blue" type="button" id="btnsubmit" value="提交" onclick="update()" data-dismiss="modal" />
                    <button type="button" class="btn green" data-dismiss="modal">
                        取消</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript">
    function update() {
        var username = $("#username").val();
        var rolename = $("#rolename").val();
        $.post("/admin_projectnoview/editprojectstaff", { id: $id$,pid:$pid$, username: username, rolename: rolename }, function (data) {
            if (data.status == true) {
                reload1();
            }
            else {
                alert(data.msg);
            }
        });
    }
</script>
<!-- END BODY -->
</html>