<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OA-人员管理</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="/Content/hl/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/hl/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/hl/css/style-metro.css" rel="stylesheet" type="text/css" />
    <link href="/Content/hl/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/Content/hl/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/Content/hl/css/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/Content/hl/css/uniform.default.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                </button>
                <h4 class="modal-title">
                    <i class="icon-pencil"></i><span id="lblAddTitle" style="font-weight: bold">编辑职位</span>
                </h4>
            </div>
            <form class="form-horizontal form-bordered form-row-strippe" action="" data-toggle="validator" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">
                                公司名称：</label>
                            <div class="controls">
                                <input class="m-wrap medium" type="text" id="companyname" value="$companyname$" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                公司介绍：</label>
                            <div class="controls">
                                <input class="m-wrap medium" type="text" id="companyinfo" value="$companyinfo$" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-info">
                    <input class="btn blue" type="button" id="btnsubmit" value="提交" onclick="update()" data-dismiss="modal" />
                    <button type="button" class="btn green" data-dismiss="modal">
                        取消</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript">
    function update() {
        var companyname = $("#companyname").val();
        var companyinfo = $("#companyinfo").val();
        $.post("/admin_membernoview/editcompany", { companyid:$companyid$,companyname: companyname, companyinfo: companyinfo }, function (data) {
            if (data.status == true) {
                reload();
            }
            else {
                alert(data.msg);
            }
        })
    }
</script>
</html>
